{% include "mail/header.html" %}

<p>Votre inscription à ARE {{"now"|date("Y")}} est confirmée. Les frais
 d’inscription à l’évènement de 10$ US sont payables lors de votre arrivée à
 l’événement. Nous avons hâte de vous voir!</p>

{% if showReservationNotConfirmed %}
<p>Notez que cette confirmation ne concerne que votre inscription à l’événement;
 elle ne constitue donc PAS une confirmation de votre réservation d’hébergement.
 Votre demande de réservation a été envoyée au YMCA de Silver Bay et vous serez
 contacté sous peu par un représentant afin de compléter votre réservation.</p>
{% endif %}

<p>Pour vos archives personnelles, voici les informations d’inscription que
 vous avez fournies.</p>

<table cellpadding="5" style="border:0;width:50%;margin:auto;">
 <tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Name')}}</th>
  <td>{{first_name}} {{last_name}}
{% for g in guests %}
   <br>{{g.first_name}} {{g.last_name}}
{% endfor %}
  </td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Location')}}</th>
  <td>{{country}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Email')}}</th>
  <td>{{email}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Phone')}}</th>
  <td>{{phone}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Lodging')}}</th>
  <td>{{lodging}}</td>
 </tr>
</table>
{% include "mail/footer.html" %}
