{% include "mail/header.html" %}
<p>Ni ricevis vian peton por registriĝi por ARE {{"now"|date("Y")}}. Por
 konfirmi la peton, bonvolu sekvi la jenan ligilon.
 <strong style="font-weight:bold;">Ni ne povas akcepti vian registriĝon se
 vi ne faras tion.</strong></p>

{% set link = "#{get_uri().scheme}://#{get_uri().host}/eo/rc/#{uid}/#{code}" %}
<p style="font-size:110%;"><a href="{{link}}" style="color:#3273DC;">{{link}}</a></p>

<p>Se vi ne povas klaki la ligilon, bonvolu kopii kaj alglui ĝin en vian
retumilon.</p>

<p>Se vi ne volas konfirmi la peton, bonvolu ignori ĉi tiun mesaĝon.</p>
{% include "mail/footer.html" %}
