{% include "mail/header.html" %}
<p>Your registration for ARE {{"now"|date("Y")}}. is confirmed. The $10 USD
 event registration fee is payable upon arrival at the event. We look forward
 to seeing you!</p>

{% if showReservationNotConfirmed %}
<p>This confirmation is for your event registration only and is NOT a
 confirmation of your lodging reservation. Your reservation request has been
 sent to the Silver Bay YMCA and a representative will contact you soon to
 complete your reservation.</p>
{% endif %}

<p>For your records, here are the registration details you provided.</p>

<table cellpadding="5" style="border:0;width:50%;margin:auto;">
 <tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Name')}}</th>
  <td>{{first_name}} {{last_name}}
{% for g in guests %}
   <br>{{g.first_name}} {{g.last_name}}
{% endfor %}
  </td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Location')}}</th>
  <td>{{country}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Email')}}</th>
  <td>{{email}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Phone')}}</th>
  <td>{{phone}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Lodging')}}</th>
  <td>{{lodging}}</td>
 </tr>
</table>
{% include "mail/footer.html" %}
