{% include "mail/header.html" %}
<p>Nous avons reçu votre demande d’inscription pour ARE {{"now"|date("Y")}}.
 Afin de confirmer votre demande, veuillez suivre le lien ci-dessous.
 <strong style="font-weight:bold;">Nous ne pourrons accepter votre inscription
 avant que cette étape ne soit complétée.</strong></p>

{% set link = "#{get_uri().scheme}://#{get_uri().host}/fr/rc/#{uid}/#{code}" %}
<p style="font-size:110%;"><a href="{{link}}" style="color:#3273DC;">{{link}}</a></p>

<p>Si vous ne pouvez pas cliquer sur le lien, veuilles le copier et le coller
dans votre navigateur internet.</p>

<p>Si vous ne souhaitez pas confirmer votre demande, veuillez simplement ignorer
ce message.</p>
{% include "mail/footer.html" %}
