{% include "mail/header.html" %}
<p>Via registriĝo por ARE {{"now"|date("Y")}} estas konfirmita. La $10 (usonaj
 dolaroj) kotizo de registriĝo estas pagebla je la komenco de la evento. Ni
 feliĉe atendas vin!</p>

{% if showReservationNotConfirmed %}
<p>Ĉi tiu konfirmo estas nur pri via eventa registriĝo. Ĝi NE ESTAS konfirmo de
 rezervo por loĝado. Via rezerv-peto estis sendita al la Silver Bay YMCA kaj
 reprezentanto kontakos vin baldaŭ por fari la rezervon.</p>
{% endif %}

<p>Por via informo, jen la detaloj, kiujn vi prezentis.</p>

<table cellpadding="5" style="border:0;width:50%;margin:auto;">
 <tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Name')}}</th>
  <td>{{first_name}} {{last_name}}
{% for g in guests %}
   <br>{{g.first_name}} {{g.last_name}}
{% endfor %}
  </td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Location')}}</th>
  <td>{{country}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Email')}}</th>
  <td>{{email}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Phone')}}</th>
  <td>{{phone}}</td>
 </tr><tr>
  <th style="text-align:left;vertical-align:top;">{{__('Form: Lodging')}}</th>
  <td>{{lodging}}</td>
 </tr>
</table>
{% include "mail/footer.html" %}
