{% include "mail/header.html" %}
<p>We received your registration request for ARE {{"now"|date("Y")}}. To confirm
 your request, please follow the link below. <strong style="font-weight:bold;">We
 cannot accept your registration unless this step is completed.</strong></p>

{% set link = "#{get_uri().scheme}://#{get_uri().host}/en/rc/#{uid}/#{code}" %}
<p style="font-size:110%;"><a href="{{link}}" style="color:#3273DC;">{{link}}</a></p>

<p>If you cannot click the link, please copy and paste it into your web
 browser.</p>

<p>If you do not wish to confirm your request, simply ignore this message.</p>
{% include "mail/footer.html" %}
