{% include "mail/header.html" %}
{% block email %}
<p>A reservation request was received through are-esperanto.org and we are
forwarding it to you. Please contact the individual below to confirm their
reservation and arrange payment. Thank you.</p>

<table>
 <tr>
  <th>Name:</th>
  <td>{{first_name}} {{last_name}}
{% for g in guests %}
   <br>{{g.first_name}} {{g.last_name}}
{% endfor %}
  </td>
 </tr><tr>
  <th>Lodging:</th>
  <td>The Inn</td>
 </tr><tr>
  <th>Email:</th>
  <td>{{email}}</td>
 </tr><tr>
  <th>Phone:</th>
  <td>{{phone}}</td>
 </tr>
</table>
{% endblock %}
{% include "mail/footer.html" %}
