<template>
 <div class="modal-card translations-form">
  <vue-element-loading :active="init.action != 'Add' && isLoading" spinner="bar-fade-scale"/>
  <header class="modal-card-head">
   <div class="modal-card-title">{{init.action}} Translation</div>
  </header>
  <div class="modal-card-body">
    <form @submit.prevent="onSubmit" @reset="$parent.close()">
     <div class="field">
      <label class="label">Key</label>
      <div class="control is-expanded">
       <input v-model="form.msgid" type="text" class="input" maxlength="255"/>
      </div>
     </div>
     <div v-for="(language) in languages" :key="language.id" class="field">
      <label class="label">{{language.name}} ({{language.id.toUpperCase()}})</label>
      <div class="control is-expanded">
       <textarea v-model="form[`msgstr_${language.id}`]" type="text" class="textarea" rows="1"/>
      </div>
     </div>
     <div v-if="init.action == 'Edit'" class="field">
      <div class="control">
       <label class="checkbox">
        <input v-model="isDelete" type="checkbox">
        <strong>Delete</strong>
       </label>
      </div>
     </div>
     <div class="field is-grouped">
      <div class="control">
       <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
       <button :disabled="isSubmitting" type="submit" class="button is-primary">Submit</button>
      </div>
      <div class="control">
       <input type="reset" class="button is-text" value="Cancel"/>
      </div>
     </div>
    </form>
  </div>
 </div>
</template>

<script>
export default {
    name: "TranslationsForm",

    props: {
        init: Object,
        languages: Array
    },

    data() {
        return {
            isLoading: true,
            isSubmitting: false,
            isDelete: false,
            form: {}
        }
    },

    mounted() {
        if (this.init.action == "Add") {
            this.form = {};
            this.isLoading = false;
            return;
        }

        this.$http.get("/api/translations/" + this.init.id)
            .then(response => {
                this.form = response.data;
                this.isLoading = false;
             })
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger",
                    container: ".modal-card"
                });
                console.error(error);
            });
    },

    methods: {
        onSubmit() {
            this.isSubmitting = true;
            if (this.init.action == "Add") {
                this.$http.post("/api/translations", this.form)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Add",
                            translation: {
                                id: response.data.id,
                                msgid: this.form.msgid
                            }
                        });
                        this.$parent.close();
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger",
                            container: ".modal-card"
                        });
                        console.error(error);
                    });
                return;
            }

            if (this.isDelete) {
                this.$http.delete("/api/translations/" + this.init.id)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Delete",
                            index: this.init.index
                        });
                        this.$parent.close();
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger",
                            container: ".modal-card"
                        });
                        console.error(error);
                    });
                return;
            }

            this.$http.put("/api/translations/" + this.init.id, this.form)
                .then(response => {
                    this.$emit("formClose", {
                        action: "Edit",
                        index: this.init.index,
                        translation: {
                            id: this.init.id,
                            msgid: this.form.msgid
                        }
                    });
                    this.$parent.close();
                })
                .catch(error => {
                    this.isSubmitting = false;
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger",
                        container: ".modal-card"
                    });
                    console.error(error);
                });
        }
    }
}
</script>
