<template>
 <div class="view translations-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Content: Translations</h1>
    <h2 class="subtitle">Create and manage translation strings</h2>
   </div>
   <div class="column">
    <button @click="addTranslation" class="button is-primary is-pulled-right">
     <span class="icon"><span class="fas fa-plus"></span></span>
     <strong>New Translation</strong>
    </button>
   </div>
  </div>
  <transition-group name="fade" tag="div">
   <div v-for="(translation, index) in translations" :key="translation.id">
    <span @click="editTranslation(translation.id, index)"
     class="is-clickable has-text-underline">
     {{translation.msgid}}
    </span>
   </div>
  </transition-group>
  <b-modal :active.sync="showForm" has-modal-card trap-focus>
   <translations-form :languages="languages" :init="formData"
    @formClose="onFormClose"/>
  </b-modal>
 </div>
</template>

<script>
import TranslationsForm from "../../components/TranslationsForm";

export default {
    name: "TranslationsView",

    components: {
        TranslationsForm
    },

    data() {
        return {
            languages: [],
            translations: [],
            formData: {},
            showForm: false
        }
    },

    mounted() {
        this.$http.all([
            this.$http.get("/api/languages"),
            this.$http.get("/api/translations")
        ])
            .then(this.$http.spread((languagesResp, translationsResp) => {
                this.languages = languagesResp.data;
                this.translations = translationsResp.data;
            }))
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger"
                });
                console.error(error);
            });
    },

    methods: {
        addTranslation() {
            this.formData = {action: "Add"};
            this.showForm = true;
        },

        editTranslation(id, index) {
            this.formData = {action: "Edit", id, index};
            this.showForm = true;
        },

        onFormClose(evt) {
            if (evt.action == "Add") {
                this.translations.push(evt.translation);
            }

            if (evt.action == "Edit") {
                this.translations.splice(evt.index, 1, evt.translation);
            }

            if (evt.action == "Delete") {
                this.translations.splice(evt.index, 1);
            }
        }
    }
}
</script>

<style scoped>
.translations-view {
  margin-bottom: 40px;
}
</style>
