<template>
 <div class="view files-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Content: Files</h1>
    <h2 class="subtitle">Upload files to the web server</h2>
   </div>
   <div class="column">
    <button :disabled="isUploading" @click="uploadFile" class="button is-primary is-pulled-right">
     <span class="icon"><span class="fas fa-upload"></span></span>
     <strong>Upload File</strong>
    </button>
    <input ref="file" @change="doUploadFile" class="is-hidden" type="file"/>
   </div>
  </div>
  <div>
   <vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
   <b-table v-if="files" :data="files"
     @dblclick="onClick" icon-pack="fas" sort-icon="sort-up"
     bordered hoverable>
    <template slot-scope="props">
     <b-table-column field="name" label="name" sortable>
      {{props.row.name}}
     </b-table-column>
     <b-table-column field="date" label="Date" sortable :custom-sort="dateSort">
      {{props.row.date | fmtTime}}
     </b-table-column>
     <b-table-column field="size" label="Size" sortable :custom-sort="sizeSort">
      {{props.row.size | fmtBytes}}
     </b-table-column>
    </template>
   </b-table>
  </div>
  <b-modal :active.sync="showPreview" has-modal-card trap-focus>
   <div class="modal-card">
    <header class="modal-card-head">
     <div class="modal-card-title">Preview</div>
    </header>
    <div class="modal-card-body">
     <div v-if="previewSrc">
      <figure v-if="/\.(jpg|jpeg|png)$/.test(previewSrc)" class="image">
       <img :src="previewSrc"/>
      </figure>
      <figure v-else class="image is-16by9">
       <iframe :src="previewSrc" class="has-ratio"/>
      </figure>
     </div>
    </div>
   </div>
  </b-modal>
 </div>
</template>

<script>
import moment from "moment";
import prettyBytes from "pretty-bytes";

export default {
    name: "FilesView",

    data() {
        return {
            isLoading: false,
            isUploading: false,
            showPreview: false,
            previewSrc: "",
            files: []
        };
    },

    filters: {
        fmtTime: function (value) {
            return moment(value, "X").format("MMM D, YYYY [at] LT");
        },

        fmtBytes: function (value) {
            return prettyBytes(value);
        }
    },

    mounted() {
        this.getData();
    },

    methods: {
        getData() {
            this.isLoading = true;
            this.$http.get("/api/files")
                .then(response => {
                    this.files = response.data;
                })
                .catch(error => {
                    console.error(error);
                })
                .finally(() => {
                    this.isLoading = false;
                });
        },

        dateSort(a, b, isAsc) {
            return isAsc ? a.date - b.date : b.date - a.date;
        },

        sizeSort(a, b, isAsc) {
            return isAsc ? a.size - b.size : b.size - a.size;
        },

        uploadFile() {
            this.$refs.file.click();
        },

        onClick(row) {
            this.previewSrc = row.name;
            this.showPreview = true;
        },

        doUploadFile() {
            this.isUploading = true;
            
            const file = this.$refs.file.files[0];
            const reader = new FileReader();
            reader.onload = () => {
                const filedata = {
                    filename: file.name,
                    content: reader.result
                };
       
                this.$http.post("/api/files", filedata)
                    .then(response => {
                        this.getData();
                    })
                    .catch(error => {
                        this.$buefy.toast.open({
                            message: "Error: Upload failed",
                            type: "is-danger"
                        });
                        console.error(error);
                    })
                    .finally(() => {
                        this.$refs.file.value = "";
                        this.isUploading = false;
                    });
            };
            reader.readAsDataURL(file);
        }
    }
}
</script>
