<template>
 <nav class="navbar is-dark">
  <div class="navbar-brand">
   <router-link :to="{name: 'index'}" class="navbar-item brand-text">
    <h1 class="has-text-weight-bold">Site Admin</h1>
   </router-link>
   <span @click="burgerOpen = !burgerOpen" class="navbar-burger burger">
    <span></span>
    <span></span>
    <span></span>
   </span>
  </div>
  <div class="navbar-menu" :class="burgerOpen ? 'is-active' : ''">
   <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
     <div class="navbar-link">Content</div>
     <div class="navbar-dropdown">
      <router-link :to="{name: 'pages'}" class="navbar-item">Pages</router-link>
      <router-link :to="{name: 'translations'}" class="navbar-item">Translations</router-link>
      <router-link :to="{name: 'files'}" class="navbar-item">Files</router-link>
     </div>
    </div>
    <router-link :to="{name: 'program'}" class="navbar-item">Program</router-link>
    <router-link :to="{name: 'registrations'}" class="navbar-item">Registrations</router-link>
    <div class="navbar-item has-dropdown is-hoverable">
     <div class="navbar-link">System</div>
     <div class="navbar-dropdown">
      <router-link :to="{name: 'accounts'}" class="navbar-item">Accounts</router-link>
      <router-link :to="{name: 'settings'}" class="navbar-item">Settings</router-link>
     </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
     <div class="navbar-link">Account</div>
     <div class="navbar-dropdown">
      <router-link :to="{name: 'password'}" class="navbar-item">Password</router-link>
     </div>
    </div>
   </div>
   <div class="navbar-end">
    <a @click.prevent="logout" class="navbar-item">Logout</a>
   </div>
  </div>
 </nav>
</template>

<script>
import {mapGetters} from "vuex";
import AuthService from "../../services/auth";

export default {
    name: "App",

    computed: {
        ...mapGetters("auth", ["isUserAdmin"])
    },

    data() {
        return {
            burgerOpen: false
        };
    },

    methods: {
        logout() {
            AuthService.logout();
        }
    }
};
</script>
