{%if valid%}
<h2>{{__('Subscription Confirmed')}}</h2>
<p>{{__('thank you for confirming subscription')}}</p>
{%else%}
<h2>{{__('Confirmation Error')}}</h2>
<p>{{__('invalid or expired confirmation token')}}</p>
{%endif%}
