<div class="columns">
 <div class="box column is-three-fifths is-offset-one-fifth has-padding-40">
  <form id="contactForm" action="/contact" method="post">
   <label class="label">{{__('Form: Name')}}</label>
   <div class="field">
    <div class="control is-expanded">
     <input class="input" type="text" id="name" name="name" placeholder="{{__('Form: name')}}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{__('Form: Email')}}</label>
    <div class="control is-expanded">
     <input class="input" type="email" id="email" name="email" placeholder="{{__('Form: Email address')}}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{__('Form: Subject')}}</label>
    <div class="control is-expanded">
     <input class="input" type="text" id="subject" name="subject" placeholder="{{__('Form: Subject')}}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{__('Form: Message')}}</label>
    <div class="control is-expanded">
     <textarea class="textarea" id="message" name="message" rows="10"></textarea>
    </div>
   </div>
   <div class="field">
    <label class="label">{{__('Form: Consent')}}</label>
   </div>
   <p>The information we collect from you is used in accordance with our privacy policy.</p>
   <div class="field has-margin-left-20">
    <div class="control">
     <label class="checkbox">
      <input type="checkbox" id="consent" name="consent"> {{__('Form: Consent contact')}}
     </label>
    </div>
   </div>
   <div class="field has-margin-top-30">
    <div class="control">
     <input class="button is-primary" type="submit" value="{{__('Form: Submit')}}">
    </div>
   </div> 
  </form>
 </div>
</div>

<style>
label.is-danger {
  border: 1px solid #ff3860;
}
</style>

<script>
$(function () {
    $("#name, #email, #subject, #message").on("keypress", function (e) {
        $(e.target).removeClass("is-danger"); 
    });

    $("#consent").on("change", function (e) {
        $(e.target).parent().removeClass("is-danger");
    });

    $("#contactForm").on("submit", function (e) {
        e.preventDefault();
        const contactForm = $(e.target);
        const submit = contactForm.find("[type=submit]");

        $(".is-danger").removeClass("is-danger");

        const name = $("#name");
        if (name.val().trim() == "") {
            name.addClass("is-danger");
        }

        const email = $("#email");
        if (email.val().trim() == "") {
            email.addClass("is-danger");
        }

        const subject = $("#subject");
        if (subject.val().trim() == "") {
            subject.addClass("is-danger");
        }

        const message = $("#message");
        if (message.val().trim() == "") {
            message.addClass("is-danger");
        }

        const consent = $("#consent");
        if (!consent.prop("checked")) {
            consent.parent().addClass("is-danger");
        } 

        if ($(".is-danger").length) {
            return;
        }

        submit.prop("disabled", true);
        $.ajax({
            url: contactForm.attr("action"),
            method: contactForm.attr("method"),
            data: contactForm.serialize()
        })
            .fail(function (err) {
                submit.prop("disabled", false);
                if (err.status == 412) {
                    alert("{{__('Error: Captcha failed')}}");
                } else {
                    alert("{{__('Error: Server error')}}");
                }
            })
            .done(function (html) {
                contactForm.animate({opacity: 0}, {
                    complete: function () {
                        contactForm.slideUp({
                            complete: function () {
                                contactForm.remove();
                            }
			});
                    }
                });
            });
    });
});
</script>
