  <footer class="footer has-margin-top-20">
   <div class="content has-text-centered">
    <div>
     <img src="/img/footer-logo.png" class="logo" alt="Aŭtuna Renkontiĝo de Esperanto" width="102" height="50">
    </div>
    <nav>
     <a href="/{{ page.language }}/{{ __('Page: Terms')|lower }}" title="{{ __('Page: Terms') }}">{{ __('Page: Terms') }}</a>
     <a href="/{{ page.language }}/{{ __('Page: Privacy')|lower }}" title="{{ __('Page: Privacy') }}">{{ __('Page: Privacy') }}</a>
     <a href="/{{ page.language }}/{{ __('Page: Cookies')|lower }}" title="{{ __('Page: Cookies') }}">{{ __('Page: Cookies') }}</a>
     <a href="/{{ page.language }}/{{ __('Page: FAQ')|lower }}" title="{{ __('Page: FAQ') }}">{{ __('Page: FAQ') }}</a>
     <a href="/{{ page.language }}/{{ __('Page: Conduct')|lower }}" title="{{ __('Page: Conduct') }}">{{ __('Page: Conduct') }}</a>
     <a href="/{{ page.language }}/{{ __('Page: Contact')|lower }}" title="{{ __('Page: Contact') }}">{{ __('Page: Contact') }}</a>
    </nav>
   </div>
  </footer>

{% if env.GOOGLE_ANALYTICS_ID %}
  <script>
window.ga = function () { ga.q.push(arguments) };
ga.q = [];
ga.l = +new Date;
ga("create", "{{ env.GOOGLE_ANALYTICS_ID }}", "auto");
ga("set", "anonymizeIp", true);
ga("set", "transport", "beacon");
ga("send", "pageview");
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
{% endif %}

 </body>
</html>
