{% set uri = get_uri() %}
{% set base_uri = uri.scheme ~ '://' ~ uri.host -%}

<!DOCTYPE html>
<html lang="{{ page.language }}">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ page.title }}{% if page.title %} | {% endif %}Aŭtuna Renkontiĝo de Esperanto (ARE)</title>

  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="index,follow,noodp">

  <meta property="og:title" content="{{ page.title }}{% if page.title %} | {% endif %}Aŭtuna Renkontiĝo de Esperanto (ARE)">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ base_uri }}{{ uri.path }}">
  <meta property="og:image" content="{{ base_uri }}/img/og_image.jpg">
  <meta property="og:locale" content="{{ page.language }}">
{% for alt in page.alternates %}
  <meta property="og:locale:alternate" content="{{ alt.language }}">
{% endfor %}

{% if isAlternateXDefault(uri.path) %}
  <link rel="alternate" hreflang="x-default" href="{{ base_uri }}{{ uri.path }}">
{% else %}
  {% for alt in page.alternates -%}
  <link rel="alternate" hreflang="{{ alt.language }}" href="{{ base_uri }}/{{ alt.language }}/{{ alt.path }}">
  {% endfor %}
{% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
  <link rel="shortcut icon" href="/favicon.ico?v=2">

  <link rel="stylesheet" href="/css/styles.css">

{% if isIndex(uri.path) %}
  <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "Aŭtuna Renkontiĝo de Esperanto (ARE)",
    "startDate": "2020-10-10",
    "startDate": "2020-10-12",
    "location": {
        "@type": "Place",
        "name": "Silver Bay YMCA",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Silver Bay",
            "addressRegion": "New York"
        }
    },
    "image": "{{ base_uri }}/img/og_image.jpg",
    "description": "ARE kunigas parolantojn de Esperanto de nordorienta Usono kaj orienta Kanado por tri-taga enmergiĝa evento."
}
  </script>
{% endif %}

  <script src="/js/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
  <script src="/js/jquery.fancybox.min.js"></script>

  <script>
$(function () {
    $(window).on("resize", function (e) {
        if ($(e.target).width() > 640) {
            $(".navbar-menu.is-active").removeClass("is-active");
        }
    });

    $(".navbar-top").clone()
        .addClass("navbar-popdown")
        .appendTo("body");

    $(window).on("scroll", function (e) {
        if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
            $(".navbar-popdown").addClass("visible");
        } else {
            $(".navbar-popdown").removeClass("visible");
        }
    });

    $(".navbar-burger").on("click", function (e) {
        e.preventDefault();
        $("." + $(e.target).data("target")).toggleClass("is-active");
    });
});
  </script>
 </head>
 <body>
  <nav class="navbar is-size-6 is-dark lang-navbar">
   <div class="container" style="justify-content: flex-end">
    <div class="navbar-brand is-pulled-right">
{% for language in languages %}
  {%- for alt in page.alternates %}
    {%- if language.id == alt.language %}
     <a class="navbar-item {% if alt.language == page.language %}is-active{% endif %} is-uppercase"
      href="/{% if alt.path == "" %}?l={{ alt.language }}{% else %}{{ alt.language }}/{{ alt.path }}{% endif %}"
      lang="{{ language.id }}">{{ language.id }}</a>
    {%- endif %}
  {%- endfor %}
{% endfor %}
    </div>
   </div>
  </nav>

  <nav class="navbar navbar-top">
   <div class="container">
    <div class="navbar-brand">
     <a href="/"><img src="/img/header-logo.png" alt="ARE" height="50" width="100" class="logo"></a>
     <span class="navbar-burger burger" data-target="headerNavbarMenu">
      <span></span>
      <span></span>
      <span></span>
     </span>
    </div>
    <div class="headerNavbarMenu navbar-menu">
     <div class="navbar-end">
      <a href="/{{ page.language }}/{{ __('Page: Venue')|lower }}" class="navbar-item is-uppercase">{{ __('Page: Venue') }}</a>
      <a href="/{{ page.language }}/{{ __('Page: Program')|lower }}" class="navbar-item is-uppercase">{{ __('Page: Program') }}</a>
      <a href="/{{ page.language }}/{{ __('Page: Participants')|lower }}" class="navbar-item is-uppercase">{{ __('Page: Participants') }}</a>
      <a href="/{{ page.language }}/{{ __('Page: Register')|lower }}" class="navbar-item is-uppercase">{{ __('Page: Register') }}</a>
     </div>
    </div>
   </div>
  </nav>
