<div class="columns">
 <div class="column is-three-fifths is-offset-one-fifth">
  <div class="program" lang="eo">
{% for day in ['sat', 'sun', 'mon'] %}
 {% if day == 'sat' %}<h2>Sabato</h2>{% endif %}
 {% if day == 'sun' %}<h2>Dimanĉo</h2>{% endif %}
 {% if day == 'mon' %}<h2>Lundo</h2>{% endif %}
   <table>
    <tbody>
 {% for id, presentation in program %}
  {% if presentation.day == day %}
   {% if not program[id - 1] or program[id - 1].time != presentation.time %}
     <tr>
      <th scope="column" colspan="2">{{ presentation.time }}</th>
     </tr>
   {% endif %}
     <tr>
      <td>{{ presentation.location }}</td>
      <td>
       <div class="media">
   {% if presentation.image %}
        <div class="media-left">
         <div class="image is-100x100">
          <img src="{{ presentation.image }}" class="is-rounded"/>
         </div>
        </div>
   {% endif %}
        <div class="media-content">
         <div class="has-text-weight-bold">{{ presentation.title }}</div>
         <div>{{ presentation.presenter|raw }}</div>
   {% if presentation.description %}
         <div class="has-margin-top-10">{{ presentation.description }}</div>
   {% endif %}
        </div>
       </div>
      </td>
     </tr>
  {% endif %}
 {% endfor %}
    </tbody>
   </table>
{% endfor %}
  </div>
 </div>
</div>
