<h2>Registriĝo atendas konfirmon</h2>
<p>Bonvolu sekvi la instrukciojn en la konfirma retpoŝto, kiun ni sendis al
la donita adreso. Ni ne povas akcepti vian registriĝon se vi ne faras tion.
Se vi ne ricevis la retpoŝton, kontrolu la trudmesaĝujon kaj aldoni
{{site.environment.EMAIL_SYSTEM_ADDRESS}} en la liston de akcepteblaj
adresoj.</p>
