{% if env.ACCEPTING_REGISTRATIONS == 'true' %}
<div class="columns">
 <div class="column is-three-fifths is-offset-one-fifth has-padding-40">
  <form id="registrationForm" class="box my-box-shadow" action="/register" method="post">
   <h2 class="has-text-centered">{{ __('Form: Online Registration Form') }}</h2>
   <label class="label">{{ __('Form: Name') }}</label>
   <div class="field is-grouped">
    <div class="control is-expanded">
     <input class="input" type="text" id="firstName" name="first_name" placeholder="{{ __('Form: First name') }}">
    </div>
    <div class="control is-expanded">
     <input class="input" type="text" id="lastName"  name="last_name" placeholder="{{ __('Form: Last name') }}">
    </div>
   </div>
   <div id="guestNames"></div>
   <div id="addNamePrompt" class="field">
    <span>{{ __('Form: Bringing a friend?') }}</span>
    <a href="#">{{ __('Form: Add a name') }}</a>
   </div>
   <div class="field">
    <label class="label">{{ __('Form: Location') }}</label>
    <div class="control is-expanded">
     <input class="input" type="text" id="countryAutocomplete" placeholder="{{ __('Form: Country') }}">
     <input type="hidden" id="country" name="country" value="{{ site.GeoIP.country.isoCode }}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{ __('Form: Email') }}</label>
    <div class="control is-expanded">
     <input class="input" type="email" id="email" name="email" placeholder="{{ __('Form: Email address') }}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{ __('Form: Phone') }}</label>
    <div class="control is-expanded">
     <input class="input" type="tel" id="phone" name="phone" placeholder="{{ __('Form: Phone number') }}">
    </div>
   </div>
   <div class="field">
    <label class="label">{{ __('Form: Lodging') }}</label>
    <div class="control is-expanded">
     <div class="select">
      <select id="lodging" name="lodging">
       <option value="Select" disabled selected>{{ __('Form: Select') }}</option>
       <option value="inn">The Inn</option>
       <option value="daypass">{{ __('Form: Day Pass') }}</option>
       <option value="none">{{ __('Form: None') }}</option>
      </select>
     </div>
    </div>
   </div>
   <div class="notification ymcaExtra has-text-weight-bold" style="display: none;">
    {{ __('Form: YMCA will contact') }}
    {% if page.language != "en" %}{{ __('Form: Rep speaks English') }}{% endif %}
   </div>
   <div class="field">
    <label class="label">{{ __('Form: Consent') }}</label>
   </div>
   <p>{{ __('Form: Information used according to privacy policy')|raw }}</p>
   <div class="field ymcaExtra has-margin-left-20" style="display: none;">
    <div class="control">
     <label class="checkbox">
      <input type="checkbox" id="consentYmca" name="consent-ymca"> {{ __('Form: Consent statement YMCA') }}
     </label>
    </div>
   </div>
   <div class="field has-margin-left-20">
    <div class="control">
     <label class="checkbox">
      <input type="checkbox" name="consent-list"> {{ __('Form: Consent statement list') }}
     </label>
    </div>
   </div>
{% if env.GOOGLE_RECAPTCHA_KEY %}
   <div class="has-margin-top-20">
    <script src="https://www.google.com/recaptcha/api.js?hl={% if page.language == 'fr' %}fr_CA{% else %}{{ page.language }}{% endif %}"></script>
    <div class="g-recaptcha" data-sitekey="{{ env.GOOGLE_RECAPTCHA_KEY }}"></div>
   </div>
{% endif %}
   <div class="field has-margin-top-30">
    <div class="control">
     <input class="button is-primary" type="submit" value="{{ __('Form: Submit') }}">
    </div>
   </div> 
  </form>
 </div>
</div>

<style>
label.is-danger {
  border: 1px solid #ff3860;
}
</style>

<script src="/js/libphonenumber-js.min.js"></script>
<script src="/js/jquery.auto-complete.min.js"></script>
<link rel="stylesheet" href="/css/jquery.auto-complete.css">
<script>
$(function () {
    $("#firstName, #lastName, #countryAutocomplete, #email, #phone").on("keypress", function (e) {
        $(e.target).removeClass("is-danger"); 
    });

    $("#consentYmca").on("change", function (e) {
        $(e.target).parent().removeClass("is-danger");
    });

    $("#addNamePrompt a").on("click", function (e) {
        e.preventDefault();

        const guestNames = $("#guestNames");
        const i = guestNames.children().length;

        guestNames.append(
            '<div class="field is-grouped">' +
            '<div class="control is-expanded">' +
            '<input class="input guestFirstName" type="text" name="guests[' + i  + '][first_name]" placeholder="{{ __('Form: First name') }}">' +
            '</div>' +
            '<div class="control is-expanded">' +
            '<input class="input guestLastName" type="text" name="guests[' + i + '][last_name]" placeholder="{{ __('Form: Last name') }}">' +
            '</div>' +
            '</div>'
        );
        guestNames.children().last().find("input").on("keyup", function (e) {
            $(e.target).removeClass("is-danger");
        });

        $("#addNamePrompt span").hide();
    });

    $.getJSON("/api/countries/{{ page.language }}", function (countries) {
        $("#countryAutocomplete").autoComplete({
            cache: false,
            delay: 0,
            minChars: 1,

            source: function (term, suggest) {
                const suggestions = [];
                for (let i = 0; i < countries.length; ++i) {
                    if (countries[i].name.toLowerCase().indexOf(term.toLowerCase()) != -1) {
                        suggestions.push(countries[i]);
                    }
                }
                suggest(suggestions);
            },

            renderItem: function (item, search) {
                search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                const re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                return '<div class="autocomplete-suggestion" data-val="' + item.name + '" data-code="' + item.code + '">' + item.name.replace(re, "<b>$1</b>") + '</div>';
            },

            onSelect: function (e, term, item) {
                $("#country").val(item.data("code"));
            }
        });
    });

    $("#phone").on("keyup", function (e) {
        const target = $(e.target);
        const country = $("#country").val();

        setTimeout(function () {
            target.val(new libphonenumber.AsYouType(country).input(target.val()));
        }, 100);
    });

    $("#lodging").on("change", function (e) {
        const target = $(e.target);

        if (target.val() == "inn") {
            $(".ymcaExtra").show();
        } else {
            $(".ymcaExtra").hide();
            $("#consentYmca").parent().removeClass("is-danger");
        }

        target.parent().removeClass("is-danger");
    });

    $("#registrationForm").on("submit", function (e) {
        e.preventDefault();
        const registrationForm = $(e.target);
        const submit = registrationForm.find("[type=submit]");

        $(".is-danger").removeClass("is-danger");

        const firstName = $("#firstName");
        if (firstName.val().trim() == "") {
            firstName.addClass("is-danger");
        }

        $(".guestFirstName").each(function (_, el) {
            const guestFirstName = $(el);
            if (guestFirstName.val().trim() == "") {
                guestFirstName.addClass("is-danger");
            }
            const guestLastName = guestFirstName.parents(".field").find(".guestLastName");
            if (guestLastName.val().trim() == "") {
                guestLastName.addClass("is-danger");
            }
        });

        const lastName = $("#lastName");
        if (lastName.val().trim() == "") {
            lastName.addClass("is-danger");
        }

        const countryAutocomplete = $("#countryAutocomplete");
        if (countryAutocomplete.val().trim() == "") {
            countryAutocomplete.addClass("is-danger");
        }

        const email = $("#email");
        if (email.val().trim() == "") {
            email.addClass("is-danger");
        }

        const phone = $("#phone");
        if (phone.val().trim() == "") {
            phone.addClass("is-danger");
        }

        const lodging = $("#lodging");
        const lodgingVal = lodging.val();
        const consentYmca = $("#consentYmca");
        if (!lodgingVal) {
            lodging.parent().addClass("is-danger");
        } else {
            if (lodgingVal == "inn" && !consentYmca.prop("checked")) {
                consentYmca.parent().addClass("is-danger");
            } 
        }

        if ($(".is-danger").length) {
            return;
        }

        submit.prop("disabled", true);
        $.ajax({
            url: registrationForm.attr("action"),
            method: registrationForm.attr("method"),
            data: registrationForm.serialize()
        })
            .fail(function (err) {
                submit.prop("disabled", false);
                if (err.status == 412) {
                    alert("{{ __('Error: Captcha failed') }}");
                } else {
                    alert("{{ __('Error: Server error') }}");
                }
            })
            .done(function (html) {
                registrationForm.animate({opacity: 0}, {complete: function () {
                    registrationForm.slideUp({complete: function () {
                        registrationForm.html(html);
                        registrationForm.slideDown({complete: function () {
                            registrationForm.animate({opacity: 1});
                         }});
                     }});
                 }});
            });
    });
});
</script>        
{% endif %}
