<h2>Registration pending confirmation</h2>
<p>Please follow the instructions in the confirmation email we’ve sent
to the address you provided. We cannot accept your registration until you
complete the confirmation steps. If you do not receive the email, check
your spam folder and add {{site.environment.EMAIL_SYSTEM_ADDRESS}} to your
address whitelist.</p>
