<h2>Inscription en attente de confirmation</h2>
<p>Merci de suivre les instructions du courriel de confirmation que
nous avons envoyé à l’adresse que vous avez indiquée. Votre inscription
ne pourra être acceptée avant que vous n’ayez complété les étapes de
confirmation. Si vous ne recevez pas le courriel de confirmation,
veuillez vérifier votre dossier de courrier indésirable et ajouter
{{site.environment.EMAIL_SYSTEM_ADDRESS}} à votre liste blanche
d’adresses.</p>
