<template>
 <div class="view pages-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Content: Pages</h1>
    <h2 class="subtitle">Create pages and manage site content</h2>
   </div>
   <div class="column">
    <button :disabled="isEditing" @click="addPage" class="button is-primary is-pulled-right">
     <span class="icon"><span class="fas fa-plus"></span></span>
     <strong>New Page</strong>
    </button>
   </div>
  </div>
  <form @submit.prevent="onSubmit" @reset="onReset">
   <b-tabs type="is-boxed">
    <b-tab-item v-for="language in languages" :key="language.id"
     :label="`${language.name} (${language.id.toUpperCase()})`">
     <div v-if="!isEditing">
      <b-table v-if="pages[language.id]" :columns="columns" :data="pages[language.id]"
       @click="onClick" icon-pack="fas" sort-icon="sort-up"
       bordered hoverable/>
     </div>
     <div v-show="isEditing">
      <vue-element-loading :active="isLoading || !isEditing" spinner="bar-fade-scale"/>
      <div class="field">
       <label class="label">Path</label>
       <div class="control">
        <input v-model="form[language.id].path" class="input" type="text" maxlength="50" autocomplete="off"/>
       </div>
      </div>
      <div class="field">
       <label class="label">Title</label>
       <div class="control">
        <input v-model="form[language.id].title" class="input" type="text" maxlength="100" autocomplete="off"/>
       </div>
      </div>
      <div class="field">
       <label class="label">Description</label>
       <div class="control">
        <input v-model="form[language.id].description" class="input" type="text" maxlength="255" autocomplete="off"/>
       </div>
      </div>
      <div class="field">
       <label class="label">Content</label>
       <div class="control">
        <editor v-model="form[language.id].content" :init="editorInit" class="textarea"></editor>
       </div>
      </div>
      <div class="field">
       <label class="label">Page template</label>
       <div class="control">
        <div class="select">
         <select v-model="form.template">
          <option value="default">Default</option>
          <option value="full-width">Full width</option>
         </select>
        </div>
       </div>
      </div>
      <div v-if="form.id" class="field">
       <div class="control">
        <label class="checkbox">
         <input type="checkbox" v-model="isDelete">
         Delete
        </label>
       </div>
      </div>
      <div class="field is-grouped">
       <div class="control">
        <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
        <button type="submit" class="button is-primary">Submit</button>
       </div>
       <div class="control">
        <input type="reset" class="button is-text" value="Cancel"/>
       </div>
      </div>
     </div>
   </b-tab-item>
   </b-tabs>
  </form>
 </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";

export default {
    name: "PagesView",

    data() {
        return {
            isLoading: true,
            isEditing: false,
            isSubmitting: false,
            languages: [],
            pages: {},
            editorInit: {
                theme: 'modern',
                height: 450,
                plugins: 'lists link image preview anchor code media table contextmenu imagetools wordcount',
                menubar: false,
                toolbar: 'styleselect | bold italic | bullist numlist table | link anchor image media | preview code',
                image_advtab: true,
                body_class: 'content',
                content_css: '/css/styles.css,/css/editor-bg.css',
                document_base_url: '/',
                convert_urls: false,
                valid_elements: '*[*]',
                branding: false
            },
            columns: [
                {
                    label: "Title",
                    field: "title",
                    sortable: true
                },
                {
                    label: "Path",
                    field: "path",
                    sortable: true
                }
            ],
            form: {},
            isDelete: false
        };
    },

    components: {
        editor: Editor
    },

    mounted() {
        this.$http.all([
            this.$http.get("/api/languages"),
            this.$http.get("/api/pages")
        ])
            .then(this.$http.spread((langResponse, pagesResponse) => {
                this.languages = langResponse.data;
                this.pages = pagesResponse.data;
                this.initForm();
            }))
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger"
                });
                console.error(error);
            });
    },

    methods: {
        initForm() {
            this.form = {template: "default"};
            this.languages.forEach(language => {
                this.$set(this.form, language.id, {
                    path: "",
                    title: "",
                    description: "",
                    content: ""
                });
            });
            this.isDelete = false;
        },

        addPage() {
            this.initForm();
            this.isEditing = true;
            this.isLoading = false;
        },

        onClick(row) {
            this.initForm();
            this.isLoading = true;
            this.isEditing = true;

            this.$http.get("/api/pages/" + row.id)
                .then(response => {
                    this.form = response.data;
                })
                .catch(error => {
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger"
                    });
                    console.error(error);
                })
                .finally(() => {
                    this.isLoading = false;
                });
        },

        onSubmit() {
            this.isSubmitting = true;

            if (!this.form.id) {
                this.$http.post("/api/pages", this.form)
                    .then(response => {
                        this.isEditing = false;
                        this.languages.forEach(language => {
                            this.pages[language.id].push({
                                id: response.data.id,
                                title: this.form[language.id].title,
                                path: this.form[language.id].path
                            });
                        });
                    })
                    .catch(error => {
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger"
                        });
                        console.error(error);
                    })
                    .finally(() => {
                        this.isSubmitting = false;
                    });
                return;
            }

            if (this.isDelete) {
                this.$http.delete("/api/pages/" + this.form.id)
                    .then(response => {
                        this.isEditing = false;

                        let indexes = [];
                        this.languages.forEach(language => {
                            this.pages[language.id].forEach((page, index) => {
                                if (page.id == this.form.id) {
                                    indexes.push({
                                        language: language.id,
                                        index: index
                                    });
                                }
                            });
                        });

                        indexes.forEach(index => {
                            this.pages[index.language].splice(index.index, 1);
                        });
                    })
                    .catch(error => {
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger"
                        });
                        console.error(error);
                    })
                    .finally(() => {
                        this.isSubmitting = false;
                    });
                return;
            }

            this.$http.put("/api/pages/" + this.form.id, this.form)
                .then(response => {
                    this.isEditing = false;

                    this.languages.forEach(language => {
                        this.pages[language.id].forEach((page, index) => {
                            if (page.id == this.form.id) {
                                this.pages[language.id][index].title = this.form[language.id].title;
                                this.pages[language.id][index].path = this.form[language.id].path;
                            }
                        });
                    });
                })
                .catch(error => {
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger"
                    });
                    console.error(error);
                })
                .finally(() => {
                    this.isSubmitting = false;
                });
        },

        onReset() {
            this.isEditing = false;
        }
    }
};
</script>

<style scoped>
 .is-borderless {
  border: 0;
 }
 .is-divider {
   margin-top: 20px;
 }
</style>
