<template>
 <div class="view program-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Program</h1>
    <h2 class="subtitle">Manage event program</h2>
   </div>
   <div class="column">
    <button @click="addPresentation"
     class="button is-primary is-pulled-right has-margin-left-20">
     <span class="icon"><span class="fas fa-plus"></span></span>
     <strong> New Presentation</strong>
    </button>
    <json-csv :data="program" name="program.csv">
     <button class="button is-primary is-pulled-right">
      <span class="icon"><span class="fas fa-download"></span></span>
      <strong>Export as CSV</strong>
     </button>
    </json-csv>
   </div>
  </div>
  <div class="content">
   <vue-element-loading :active="isLoading" spinner="bar-fade-scale"/>
   <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
     <template v-for="day in ['sat','sun','mon']">
      <h2 v-if="day == 'sat'">Sabato</h2>
      <h2 v-if="day == 'sun'">Dimanĉo</h2>
      <h2 v-if="day == 'mon'">Lundo</h2>
      <table class="program">
       <tbody>
        <template v-for="(presentation, id) in program" v-if="presentation.day == day">
         <tr @click="onClick(presentation)">
          <th v-if="!program[id - 1] || program[id - 1].time != presentation.time" scope="column" colspan="2">
           {{presentation.time}}
          </th>
         </tr>
         <tr @click="onClick(presentation)">
          <td>{{presentation.location}}</td>
          <td>
           <div class="media">
            <div v-if="presentation.image" class="media-left">
             <div class="image is-100x100">
              <img :src="presentation.image" class="is-rounded"/>
             </div>
            </div>
            <div class="media-content">
             <div class="has-text-weight-bold">{{presentation.title}}</div>
             <div v-if="presentation.presenter"><span v-html="presentation.presenter"></span></div>
             <div v-if="presentation.description" class="has-margin-top-10">{{presentation.description}}</div>
            </div>
           </div>
          </td>
         </tr>
        </template>
       </tbody>
      </table>
     </template>
    </div>
   </div>
  </div>
  <b-modal :active.sync="showForm" has-modal-card trap-focus>
   <presentations-form :init="formData" @formClose="onFormClose"/>
  </b-modal>
 </div>
</template>

<script>
import JsonCSV from "vue-json-csv";
import PresentationsForm from "../../components/PresentationsForm";

function fetchProgram(v) {
    v.isLoading = true;
    v.$http.get("/api/presentations")
        .then(response => {
            v.program = response.data;
        })
        .catch(error => {
            v.$buefy.toast.open({
                message: "Error: " + error.response.data.error,
                type: "is-danger"
            });
            console.error(error);
        })
        .finally(() => {
            v.isLoading = false;
        });
}

export default {
    name: "ProgramView",

    components: {
        PresentationsForm,
        JsonCsv: JsonCSV
    },

    data() {
        return {
            program: [],
            formData: {},
            showForm: false,
            isLoading: true
        }
    },

    mounted() {
        fetchProgram(this);
    },

    methods: {
        addPresentation() {
            this.formData = {action: "Add"};
            this.showForm = true;
        },

        onClick(row) {
            this.formData = {action: "Edit", id: row.id};
            this.showForm = true;
        },

        onFormClose(evt) {
            if (evt.action == "Reload") {
                fetchProgram(this);
            }
        }
    }
}
</script>

<style scoped>
.program-view {
  margin-bottom: 40px;
}

.last-name {
  font-variant: small-caps;
}

th[scope="column"] {
  background-color: #f5f5f5;
}

tr {
  cursor: pointer;
}
</style>
