<template>
 <div class="modal-card presentations-form">
  <vue-element-loading :active="init.action != 'Add' && isLoading" spinner="bar-fade-scale"/>
  <header class="modal-card-head">
   <div class="modal-card-title">{{init.action}} Presentation</div>
  </header>
  <div class="modal-card-body">
   <form @submit.prevent="onSubmit" @reset="$parent.close()">
    <div class="field">
     <label class="label">Day</label>
     <div class="control is-expanded">
      <div class="select">
       <select v-model="form.day">
        <option value="sat">Sabato</option>
        <option value="sun">Dimanĉo</option>
        <option value="mon">Lundo</option>
       </select>
      </div>
     </div>
    </div>
    <div class="field">
     <label class="label">Time</label>
     <div class="control is-expanded">
      <input v-model="form.time" type="text" class="input" maxlength="30"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Location</label>
     <div class="control is-expanded">
      <div class="select">
       <select v-model="form.location">
        <option value="">None</option>
        <option value="Auditorium">Auditorium</option>
        <option value="Conf Room B">Conf Room B</option>
        <option value="Morris Hall">Morris Hall</option>
        <option value="Spraul Pavilion">Spraul Pavilion</option>
       </select>
      </div>
     </div>
    </div>
    <div class="field">
     <label class="label">Title</label>
     <div class="control is-expanded">
      <input v-model="form.title" type="text" class="input" maxlength="100"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Presenter</label>
     <div class="control is-expanded">
      <input v-model="form.presenter" type="text" class="input" maxlength="100"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Image</label>
     <div class="control is-expanded">
      <input v-model="form.image" type="text" class="input" maxlength="100"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Description</label>
     <div class="control is-expanded">
      <textarea v-model="form.description" class="textarea"></textarea>
     </div>
    </div>
    <div v-if="init.action == 'Edit'" class="field">
     <div class="control">
      <label class="checkbox">
       <input v-model="isDelete" type="checkbox">
       <strong>Delete</strong>
      </label>
     </div>
    </div>
    <div class="field is-grouped">
     <div class="control">
      <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
      <button :disabled="isSubmitting" type="submit" class="button is-primary">Submit</button>
     </div>
     <div class="control">
      <input type="reset" class="button is-text" value="Cancel"/>
     </div>
    </div>
   </form>
  </div>
 </div>
</template>

<script>
export default {
    name: "PresentationsForm",

    props: {
        init: Object
    },

    data() {
        return {
            isLoading: true,
            isSubmitting: false,
            isDelete: false,
            form: {
              day: 'sat',
              time: '',
              location: '',
              title: '',
              presenter: '',
              image: '',
              description: ''
            }
        }
    },

    mounted() {
        if (this.init.action == "Add") {
            this.form = {};
            this.isLoading = false;
            return;
        }

        this.$http.get("/api/presentations/" + this.init.id)
            .then(response => {
                this.form = response.data;
                this.isLoading = false;
            })
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger",
                    container: ".modal-card"
                });
                console.error(error);
            });
    },

    methods: {
        onSubmit() {
            this.isSubmitting = true;

            let req = null;
            if (this.init.action == "Add") {
                req = this.$http.post("/api/presentations", this.form)
            } else if (this.isDelete) {
                req = this.$http.delete("/api/presentations/" + this.init.id)
            } else {
                req = this.$http.put("/api/presentations/" + this.init.id, this.form)
            }

            req.then(response => {
                this.$emit("formClose", {action: "Reload"});
                this.$parent.close();
            })
            .catch(error => {
                this.isSubmitting = false;
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger",
                    container: ".modal-card"
                });
                console.error(error);
            });
        }
    }
}
</script>
