<template>
 <div class="view password-view container">
  <h1 class="title">Account: Change Password</h1>
  <h2 class="subtitle">Change your password</h2>
  <form @submit.prevent="submit">
   <div class="field">
    <label class="label">Current Password</label>
    <div class="control">
     <input v-model="form.currentPassword" type="password" class="input"/>
    </div>
   </div>
   <div class="field">
    <label class="label">New Password</label>
    <div class="control">
     <input v-model="form.newPassword" type="password" class="input"/>
    </div>
   </div>
   <div class="field">
    <label class="label">Confirm Password</label>
    <div class="control">
     <input v-model="form.confirmPassword" type="password" class="input"/>
    </div>
   </div>
   <div class="field is-grouped">
    <div class="control">
     <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
     <button :disabled="isSubmitting" type="submit" class="button is-primary">Submit</button>
    </div>
   </div>
  </form>
 </div>
</template>

<script>
export default {
    name: "PasswordView",

    data() {
        return {
            isSubmitting: false,
            form: {
                currentPassword: "",
                newPassword: "",
                confirmPassword: ""
            }
        }
    },

    methods: {
        submit() {
            if (this.form.newPassword != this.form.confirmPassword) {
                this.$buefy.toast.open({
                    message: "Error: New and confirm passwords do not match",
                    type: "is-danger"
                });
                return;
            }
            this.isSubmitting = true;
            this.$http.post("/api/password", this.form)
                .then(response => {
                    this.$buefy.toast.open({
                        message: "Password changed",
                        type: "is-success"
                    });
                    this.$router.push({name: "index"});
                })
                .catch(error => {
                    this.isSubmitting = false;
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger"
                    });
                    console.error(error);
                });
        }
    }
};
</script>
