<template>
 <div class="view registrations-view container">
  <div class="columns align-items-flex-end">
   <div class="column">
    <h1 class="title">Registrations</h1>
    <h2 class="subtitle">Review event registrations</h2>
   </div>
   <div class="column">
    <json-csv :data="rows" :name="'registrations.csv'">
     <button class="button is-primary is-pulled-right">
      <span class="icon"><span class="fas fa-download"></span></span>
      <strong>Export as CSV</strong>
     </button>
    </json-csv>
   </div>
  </div>
   <b-table :data="rows" icon-pack="fas" sort-icon="sort-up" bordered hoverable>
    <template slot-scope="props">
     <b-table-column field="last_name" label="Last Name" sortable>
       {{props.row.last_name}}
     </b-table-column>
     <b-table-column field="first_name" label="First Name" sortable>
       {{props.row.first_name}}
     </b-table-column>
     <b-table-column field="country" label="Country" sortable>
      <span :class="props.row.primary != 0 ? 'isGuest' : 'isPrimary'"> 
       {{props.row.country}}
      </span>
     </b-table-column>
     <b-table-column field="email" label="Email" sortable>
      <span v-if="props.row.primary != 0" class="isGuest">
       {{props.row.email}}
      </span>
      <span v-else>
       <a :href="'mailto:' + props.row.email">{{props.row.email}}</a>
      </span>
     </b-table-column>
     <b-table-column field="phone" label="Phone" sortable>
      <span :class="props.row.primary != 0 ? 'isGuest' : 'isPrimary'"> 
       {{props.row.phone}}
      </span>
     </b-table-column>
     <b-table-column field="lodging" label="Lodging" sortable>
      <span :class="props.row.primary != 0 ? 'isGuest' : 'isPrimary'"> 
       {{props.row.lodging}}
      </span>
     </b-table-column>
     <b-table-column field="created" label="Registered" sortable>
      <span :class="props.row.primary != 0 ? 'isGuest' : 'isPrimary'"> 
       {{props.row.created}}
      </span>
     </b-table-column>
     <b-table-column field="public" label="Public" sortable>
      <span :class="props.row.primary != 0 ? 'isGuest' : 'isPrimary'"> 
       {{props.row.public ? "Yes" : "No"}}
      </span>
     </b-table-column>
    </template>
   </b-table>
 </div>
</template>

<script>
import JsonCSV from "vue-json-csv";

export default {
    name: "RegistrationsView",

    components: {
        jsonCsv: JsonCSV
    },

    data() {
        return {
            rows: []
        };
    },

    mounted() {
        this.$http.get("/api/registrations")
            .then(response => {
                this.rows = response.data;
            })
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger"
                });
                console.error(error);
            });
    }
}
</script>

<style scoped>
.isGuest {
  color: #999;
}
</style>
