<template>
 <div class="modal-card accounts-form">
  <vue-element-loading :active="init.action != 'Add' && isLoading" spinner="bar-fade-scale"/>
  <header class="modal-card-head">
   <div class="modal-card-title">{{init.action}} Account</div>
  </header>
  <div class="modal-card-body">
   <form @submit.prevent="onSubmit" @reset="$parent.close()">
    <div class="field">
     <label class="label">First Name</label>
     <div class="control is-expanded">
      <input v-model="form.first_name" type="text" class="input" maxlength="30"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Last Name</label>
     <div class="control is-expanded">
      <input v-model="form.last_name" type="text" class="input" maxlength="30"/>
     </div>
    </div>
    <div class="field">
     <label class="label">Email</label>
     <div class="control is-expanded">
      <input v-model="form.email" type="text" class="input" maxlength="100"/>
     </div>
    </div>
    <div v-if="init.action == 'Add'" class="field">
     <label class="label">Password</label>
     <div class="control is-expanded">
      <input v-model="form.password" type="text" class="input" maxlength="30"/>
     </div>
    </div>
    <div v-if="init.action == 'Edit'" class="field">
     <div class="control">
      <label class="checkbox">
       <input v-model="isDelete" type="checkbox">
       <strong>Delete</strong>
      </label>
     </div>
    </div>
    <div class="field is-grouped">
     <div class="control">
      <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
      <button :disabled="isSubmitting" type="submit" class="button is-primary">Submit</button>
     </div>
     <div class="control">
      <input type="reset" class="button is-text" value="Cancel"/>
     </div>
    </div>
   </form>
  </div>
 </div>
</template>

<script>
export default {
    name: "AccountsForm",

    props: {
        init: Object
    },

    data() {
        return {
            isLoading: true,
            isSubmitting: false,
            isDelete: false,
            form: {}
        }
    },

    mounted() {
        if (this.init.action == "Add") {
            this.form = {};
            this.isLoading = false;
            return;
        }

        this.$http.get("/api/accounts/" + this.init.id)
            .then(response => {
                this.form = response.data;
                this.isLoading = false;
            })
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger",
                    container: ".modal-card"
                });
                console.error(error);
            });
    },

    methods: {
        onSubmit() {
            this.isSubmitting = true;
            if (this.init.action == "Add") {
                this.$http.post("/api/accounts", this.form)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Add",
                            account: {
                                id: response.data.id,
                                first_name: this.form.first_name,
                                last_name: this.form.last_name,
                                email: this.form.email
                            }
                        });
                        this.$parent.close();
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger",
                            container: ".modal-card"
                        });
                        console.error(error);
                    });
                return;
            }

            if (this.isDelete) {
                this.$http.delete("/api/accounts/" + this.init.id)
                    .then(response => {
                        this.$emit("formClose", {
                            action: "Delete",
                            account: {
                                id: this.init.id
                            }
                        });
                        this.$parent.close();
                    })
                    .catch(error => {
                        this.isSubmitting = false;
                        this.$buefy.toast.open({
                            message: "Error: " + error.response.data.error,
                            type: "is-danger",
                            container: ".modal-card"
                        });
                        console.error(error);
                    });
                return;
            }

            this.$http.put("/api/accounts/" + this.init.id, this.form)
                .then(response => {
                    this.$emit("formClose", {
                        action: "Edit",
                        account: {
                            id: this.init.id,
                            first_name: this.form.first_name,
                            last_name: this.form.last_name,
                            email: this.form.email
                        }
                    });
                    this.$parent.close();
                })
                .catch(error => {
                    this.isSubmitting = false;
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger",
                        container: ".modal-card"
                    });
                    console.error(error);
                });
        }
    }
}
</script>
