<template>
 <div class="view settings-view container">
  <h1 class="title">System: Settings</h1>
  <h2 class="subtitle">Update system settings</h2>
  <form @submit.prevent="onSubmit">
   <div v-for="(setting, index) in settings" :key="setting.id">
    <div class="field">
     <label class="label">
      {{setting.param}}<br>
      <span class="is-small">{{setting.description}}</span>
     </label>
     <div v-if="setting.type == 'text'" class="control">
      <input v-model="setting.value" type="text" class="input" maxlength="30"/>
     </div>
     <div v-if="setting.type == 'bool'" class="control">
      <b-switch v-model="setting.value" true-value="true" false-value="false" type="is-success">
       {{setting.value == "true" ? "Yes" : "No"}}
      </b-switch>
     </div>
    </div>
   </div>
   <div class="field is-grouped">
    <div class="control">
     <vue-element-loading :active="isSubmitting" spinner="bar-fade-scale"/>
     <button :disabled="isSubmitting" type="submit" class="button is-primary">Submit</button>
    </div>
   </div>
  </form>
 </div>
</template>

<script>
export default {
    name: "SettingsView",

    data() {
        return {
            isSubmitting: false,
            settings: []
        }
    },

    mounted() {
        this.$http.get("/api/settings")
            .then(response => {
                this.settings = response.data;
            })
            .catch(error => {
                this.$buefy.toast.open({
                    message: "Error: " + error.response.data.error,
                    type: "is-danger"
                });
                console.error(error);
            });
    },

    methods: {
        onSubmit() {
            this.isSubmitting = true;
            this.$http.post("/api/settings", this.settings)
                .then(response => {
                    this.$buefy.toast.open({
                        message: "Settings saved",
                        type: "is-success"
                    });
                    this.$router.push({name: "index"});
                })
                .catch(error => {
                    this.$buefy.toast.open({
                        message: "Error: " + error.response.data.error,
                        type: "is-danger"
                    });
                    console.error(error);
                });
        }
    }
}
</script>

<style scoped>
.field {
  margin-bottom: 20px;
}
</style>
