@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@600&display=swap');

$dark: #005a70;
$primary: #0097bc;
$link: #0083a3;
$navbar-item-color: $link;
$navbar-item-hover-background-color: transparent;

$dimensions: 16 24 32 48 64 96 100 128;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-helpers/bulma-helpers.sass';

.my-box-shadow {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07);
    
}

// expand content area to keep footer at bottom of the page
html { height: 100%; }
body { display: flex; flex-direction: column; height: 100%; }
main { flex: 1 0 auto; }
.footer { flex-shrink: 0; }

// use Muli font for menu, headers. and buttons
h1,
h2,
.button,
.navbar-top .navbar-end {
  font-family: 'Muli', sans-serif;
}

// reduce height of language navbar from default 3.25rem
.lang-navbar {
  min-height: 2.75rem;

  &>.container {
    min-height: 2.75rem;
  }

  .navbar-brand {
    min-height: 2.75rem;
  }
}

.navbar-top {
  margin: 20px 0;

  // specify font-size rather than use .is-size-5 in markup to
  // clone HTML for popdown menu content
  .navbar-end {
    font-size: 1.25rem;
  }
}

// popdown navigation when page scrolls down
.navbar-popdown {
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: -500px;

  transition: top 0.5s ease;

  &.visible {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                0 4px 2px rgba(0,0,0,0.09), 
                0 8px 4px rgba(0,0,0,0.09), 
                0 16px 8px rgba(0,0,0,0.09),
                0 32px 16px rgba(0,0,0,0.09);
    top: 0;
  }

  .logo {
    padding: 8px 0;
  }

  .navbar-end {
    font-size: 1em;
  }
}

.navbar-burger {
  &:hover {
    border-radius: 50%;
  }
}

// page footer
.footer {
  background-color: $dark;
  padding: 3rem 1.5rem;

  nav {
    a {
      color: $light;
      &::after { content: ' · '; }
      &:last-child::after { content: ''; }
    }
  }
}

// circle avatar images sized to 100px
.avatar {
  border-radius: 50%;
  height: 100px;
  min-width: 100px;
  width: 100px;
}

.has-light-gradient {
  background: linear-gradient(to bottom, #f5f5f5, rgba(245,245,245,0) 10%);
}

.hero {
  background: linear-gradient(to bottom, rgba(30,30,30,.8) 0%, rgba(30,30,30,0.8) 35%, rgba(0,0,0,0.8) 100%),
              url('/img/hero.jpg') center 30% no-repeat;
  background-size: cover;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.8);

  .button {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07);
    text-shadow: none;
  }
}

.testimonial {
  @extend .my-box-shadow;

  background: linear-gradient(to top, #dbdbdb, #dbdbdb 95px, #cdcdcd 105px, #f5f5f5 105px);
  margin: 0 15px;

  blockquote {
    background-color: transparent;
    border: 0;	  

    p::before { content: '“'; }
    p::after { content: '”'; }
    
    footer {
      display: flex;
      align-items: center;

      .img-span {
        display: block;
      }

      cite {
        display: block;
        font-style: normal;
        font-weight: bold;
        line-height: 1.1;
        margin: 25px 0 0 10px;
        text-align: right;
        width: 100%;

        .location {
          display: inline-block;
          font-style: italic;
          font-weight: normal;
          margin-top: 5px;
        }
      }
    }
  }
}

// override quotation marks for French
[lang='fr'] {
  .testimonial {
    blockquote {
      p::before { content: '\00a0«\00a0'; }
      p::after { content: '\00a0»\00a0'; }
    }
  }
}

// display last names in small-caps for Esperanto
[lang='eo'] {
  .last-name {
    font-variant: small-caps;
  }
}

.program {
  margin: 20px 0;

  table {
    @extend .my-box-shadow;
    margin-bottom: 50px;
  }

  th[scope="column"] {
    background-color: #f5f5f5;
  }
}


.presentation {
  @extend .media;

  .avatar {
    @extend .media-left;
  }

  .presentation-content {
    @extend .media-content;
  }
}
